<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <!--<h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
      <h1 class="project-name">{{ page.description | default: site.description | default: site.github.project_tagline }}</h1>
      {% if site.github.is_project_page %}
      <!--TODO: Consider Removal-->
        <!--<a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>-->
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
      <a href="/about" class="btn">About Page</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <a href="/rendering" style="color: #606c71;">
        <div id="wrapper">
          <div id="image">
            <img src="/assets/images/thumbnails/UE.png" alt="Unreal Engine Castle Image">
          </div>
  
          <div id="text" style="flex-direction: column">
            <p style="margin: .7rem;">
              <h2 align = "top">Unreal Engine Rendering</h2>
              This project consists of multiple renderings of a large rendering of a castle scene created in Unreal Engine 5 alongside additional work in Maya, ZBrush, and Photoshop. It included work modeling, rigging, animation, UV editing, and texturing as well as general knowledge in Unreal Engine for composition.
            </p>
          </div>
        </div>
      </a>

      <a href="/conwaysgameoflife" style="color: #606c71;">
        <div id="wrapper">
          <div id="text" style="flex-direction: column">
            <p style="margin: .7rem;">
              <h2 align = "top"> Conway's Game of Life</h2>
              This project was created in QTCreator and focused on educating the user on John Conway's Game of Life and the idea of cellular automata in general. It allows the user to experiment and play with the rules of Conway's Game of Life. It also allows them to use a few popular known structures as well as save the space to return to or experiment with later.
            </p>
          </div>

          <div id="image">
            <img src="/assets/images/thumbnails/conwayThumb.png" alt="Conway's Game of Life Image">
          </div>
        </div>
      </a>

      <a href="/boardgame" style="color: #606c71;">
        <div id="wrapper">
          <div id="image">
            <img src="/assets/images/thumbnails/Tartarus.png" alt="Eurydice Board Game Image">
          </div>
  
          <div id="text" style="flex-direction: column">
            <h2 align = "top">Board Game Prototype</h2>
            <p style="margin: .7rem;">
              This project was a single-player board game I developed over several months, stretching from initial brainstorming and ideation, the intial mechanical concepts, the design of multiple printable components, and many cycles of playtesting and revision. The final product is a practically finished board game in its design and mechanics that is both engaging and unique.
            </p>
          </div>
        </div>
      </a>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>

  </body>
</html>
